/* 섹션 제목 */
/* .section__title {
  text-align: center;
  font-size: 2.5rem;

  letter-spacing: -0.02em;
  padding-left: 10px;
} */

.intro-screen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.intro-screen::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(/images/overlay.gif);
  opacity: 0.05;
}

.monitor {
  width: 500px;
  height: auto;
  transform-origin: center;
}

.site-content {
  /* opacity: 0; 처음엔 숨김 */
}

/* 반응형: 화면 768px 이하에서는 세로 구조로 변경 */
@media (max-width: 768px) {
  /* === about section === */
  .about__grid {
    flex-direction: column;
    gap: 30px; /* 위아래 간격 */
  }

  .quote__box,
  .about__boxes {
    flex: unset;
    width: 100%;
  }

  /* === project section === */
  .project__grid {
    flex-direction: column;
    height: auto; /* 높이 자동 조정 */
  }

  .project__detail {
    order: 1; /* 상세 영역 위쪽 */
    flex: none; /* flex 비율 제거 */
    margin-bottom: 20px;
    height: auto;
  }

  .project__list {
    order: 2; /* 카드 리스트 아래쪽 */
    flex: none; /* flex 비율 제거 */
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    max-height: none; /* 스크롤 제한 제거 */
  }
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tag {
  font-size: 13px;
  padding: 6px 12px;
  background: #f3f3f3;
  border-radius: 50px;
  border: 1px solid #e4e4e4;
  color: #333;
  font-weight: 500;
  transition: background 0.2s ease;
}
